@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

.container {
  padding: 170px 290px 249px 290px;
}

.main-heading {
  font-size: 32px;
  font-weight: 700;
}

.caption {
  font-size: 12px;
}

.q-btn-dropdown {
  i {
    color: #D5DCE5;
    position: relative;

    &::before {
      position: absolute;
      content: url("../assets/toggle.svg");
    }
  }
}
