@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

.container {
  padding: 170px 228px;
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 170px 50px;
  }
}

.main-heading {
  font-size: 32px;
  font-weight: 700;
}

.caption {
  font-size: 12px;

  &.bold-caption {
    font-weight: 600;
  }
}

.card {
  width: 100%;
  max-width: 350px;

  .card-heading {
    font-size: 15px;
    font-weight: 600;
  }

  .card-section {
    height: 120px;
    padding: 12px 12px;
    border-radius: 4px;

    &.empty-section {
      border: 1px dashed #BAC4D0;
    }
  }

  .project {
    width: 100%;
    max-width: 80px;
    padding: 4px 8px;
  }
}

.modal-card {
  padding: 30px;
  width: 100%;
  max-width: 380px;

  &-heading {
    font-size: 20px;
    font-weight: 700;
  }

  .score {
    width: 100%;
    max-width: 80px;
  }
}

.q-select {
  i {
    color: #D5DCE5;
    position: relative;

    &::before {
      position: absolute;
      content: url("../assets/toggle.svg");
    }
  }
}

.q-field__control {
  &::before, &::after {
    border: 0 !important;
  }
}

.q-field__native > span {
  color: #71747C;
}
